body {
    --color-primary: rgba(96, 96, 96, 0.643);
    --color-primary-contrast:rgb(0, 0, 0);
    --color-secondary: rgb(255, 255, 255);
    --color-secondary-contrast: rgb(122, 209, 122);
    --color-tertiary:rgb(255, 245, 107);

    background-color: var(--color-primary);
}

@media screen and (max-width: 600px) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        margin-left: 5%;
        margin-right: 5%;
    }
    li {
        margin-left: 5%;
        margin-right: 5%;
    }
    p {
        margin-left: 5%;
        margin-right: 5%;
    }
    #itembox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    #socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
}

#navbar {
    overflow: hidden;
    background-color: var(--color-primary-contrast);
    /* background-image: url("picture.jpg"); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: helvetica;
    font-style: italic;
    font-size: 70%;
    border-radius: 19px;
    height: 5%;
    a:link, a:visited {
        background-color: transparent;
        color: transparent;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 120%;
        border: 2px solid transparent;
        color: var(--color-secondary);

    }
    a:hover, a:active {
        background-color:transparent;
        background-position: center;
        border-style: dotted;
        border-color: var(--color-primary-contrast);
        font-size: 120%;
        color: var(--color-tertiary);
    }
 }

 #socials {
    background-color: var(--color-primary-contrast);
    /* background-image: url("picture.jpg"); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: helvetica;
    font-style: italic;
    font-size: 70%;
    border-radius: 19px;
    height: 5%;
    a:link, a:visited {
        background-color: var(--color-primary-contrast);
        color: var(--color-primary);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 120%;
        border: 2px solid transparent;
        color: var(--color-secondary);

    }
    a:hover, a:active {
        background-color:var(--color-primary);
        border-style: dotted;
        border-color: var(--color-primary);
        color: var(--color-tertiary);
        border-radius: 30px;
        transform: scale(1.2);
    }
 }
